body{
font-family:Arial;
text-align:center;
padding:40px;
background:#f0f0f0;
}

input,button{
padding:10px;
margin:10px;
}

#output{
background:white;
padding:20px;
margin-top:20px;
border-radius:10px;
}